@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #FF9A67;
  --accent2-color: #FFBEA6;
  --accent3-color: #FFD5C0;
  --accent4-color: #FFEEE5;
  --primary-color: #f36f2c;
  --dark-text-color: #4D2C1E;
  --gray-text-color: #9E5E3E;
  --button-padding-x: 16px;
  --button-padding-y: 8px;
  --font-family-body: Raleway;
  --light-text-color: #ffffff;
  --dark-border-color: #ff9a67;
  --primary-color-rgb: 243, 111, 44;
  --light-border-color: #FFEEE5;
  --font-family-heading: Poppins;
  --button-rounded-radius: 24px;
  --dark-background-color: #FFF0E6;
  --light-background-color: #FFFAF0;
  --medium-background-color: #FFF5EE;
  --primary-button-bg-color: #ff9a67;
  --primary-button-text-color: #ffffff;
  --secondary-button-bg-color: #FFE5D9;
  --secondary-button-text-color: #f36f2c;
  --primary-button-hover-bg-color: #ff7f3f;
  --primary-button-hover-text-color: #ffffff;
  --secondary-button-hover-bg-color: #FFD5C0;
  --secondary-button-hover-text-color: #f36f2c;
}
